---
interface Props {
  title: string;
  company: string;
  span: string;
  description: string;
}

const { title, company, span, description } = Astro.props;
---

<article class="mb-8 rounded-lg border border-gray-700 p-4 last:mb-0">
  <div class="mb-4 flex flex-col sm:mb-2 sm:flex-row">
    <h2 class="mb-2 mr-2 text-2xl">{title}</h2>
    <ul class="flex flex-col sm:flex-row">
      <li
        class="relative mb-1 ml-4 mr-2 flex items-center text-gray-400 before:absolute before:-left-3 before:top-1/2 before:size-2 before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-gray-700 before:content-['']"
      >
        {company}
      </li>
      <li
        class="relative mb-1 ml-4 mr-2 flex items-center text-gray-400 before:absolute before:-left-3 before:top-1/2 before:size-2 before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-gray-700 before:content-['']"
      >
        {span}
      </li>
    </ul>
  </div>
  <div class="text-sm text-gray-400">
    {
      description.split("\n").map((line) => (
        <p class="mb-1 sm:mb-0">
          {line}
          <br />
        </p>
      ))
    }
  </div>
</article>
