---
import Section from "../components/Section.astro";
import Project from "../components/Project.astro";
import { useLoc } from "../scripts/useLoc";

const locTable = {
  cs: {
    projects: "Projekty",
    competitionWeb: "Soutěžní web",
    eshop: "E-Shop",
    scoutWeb: "Skautský web",
  },
  en: {
    projects: "Projects",
    competitionWeb: "Competitions web",
    eshop: "E-Shop",
    scoutWeb: "Scout web",
  },
};

const pathname = Astro.url.pathname;
const loc = useLoc(pathname, locTable);
---

<Section id="projects" title={loc.projects} wide>
  <div class="-mb-8 -ml-8 flex flex-wrap justify-center">
    <Project
      name={loc.competitionWeb}
      image="/projects/competitions-web.svg"
      contribution="Solo Dev"
      github="https://github.com/m1chal-tkac/fokusnj"
      technologies={["PHP", "MySQL", "Astro", "React", "Tailwind CSS"]}
    />
    <Project
      name={loc.eshop}
      image="/projects/eshop.svg"
      contribution="Main Contributor"
      web="https://drip-eco.com"
      technologies={[
        "Next.js",
        "React",
        "TypeScript",
        "Tailwind CSS",
        "GraphQL",
      ]}
    />
    <Project
      name={loc.scoutWeb}
      image="/projects/scout-website.svg"
      contribution="Solo Dev"
      web="https://nashuro.cz"
      github="https://github.com/m1chal-tkac/scout-website"
      technologies={["Astro", "React", "TypeScript", "Tailwind CSS", "GraphQL"]}
    />
  </div>
</Section>
